statemachine.json
{
    "StartAt": "Step1",
    "States": {
        "Step1": {
            "Comment": "A Pass state passes its input to its output, without performing work. Pass states are useful when constructing and debugging state machines.",
            "Type": "Pass",
            "Next": "Step2"
        },
        "Step2": {
            "Type": "Pass",
            "Next": "Step3"
        },
        "Step3": {
            "Comment": "An invalid integer payload will cause an error - minimum backoff rate is 1",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "<TODO>",
                "Payload": "zzzz"
            },
            "ResultPath": "$.status",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 0,
                    "MaxAttempts": 6,
                    "BackoffRate": 1
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Step4"
                }
            ],
            "Next": "Step4"
        },
        "Step4": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "",
                "Payload": "1000"
            },
            "Next": "Step5"
        },
        "Step5": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "",
                "Payload": "1000"
            },
            "Next": "Step6"
        },
        "Step6": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "",
                "Payload": "1000"
            },
            "Next": "Step7"
        },
        "Step7": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "",
                "Payload": "1000"
            },
            "Next": "Step8"
        },
        "Step8": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "",
                "Payload": "1000"
            },
            "Next": "Step9"
        },
        "Step9": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "",
                "Payload": "1000"
            },
            "Next": "Step10"
        },
        "Step10": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "",
                "Payload": "1000"
            },
            "End": true
        }
    }
}